__pycache__
*.egg-info

dist

# blst dep
blst
.blst
build
.idea
.mypy_cache
.pytest_cache
perf
*.c
!dot_ring/curve/native_field/bls12_381_scalar.c
!dot_ring/curve/native_field/bls12_381_scalar.h
*.so 
*.html

.coverage